$black: #000;
$white: #fff;

body {
    font-family: "Afacad Flux", sans-serif;
    margin: 2em;
    height: 100vh;
}

#app {
    height: 100vh;
}

button {
    background-color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 12px;
}

input {
    border: none;
    font-size: 18px;

    &:focus-visible {
        border: none;
        box-shadow: none;
        outline: none;
    }
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $black;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.nav {
    width: 360px;
    margin-right: 2em;

    .row {
        justify-content: center;
    }

    .options {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.app-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2em;
}

.dialogger::-webkit-scrollbar {
    display: none;
}

.fader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none; 
}

.dialogger {
    flex: 1;
    font-size: 18px;
    margin: 2em;
    margin-bottom: 50%;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;

    position: relative;
    scroll-snap-type: y mandatory;

    .row {
        scroll-snap-align: start;
        margin-top: 4px;
        padding: 10px;

        .line {
            width: 100%;
        }
    }

    .row:last-child {
        background: $black;
        color: $white;

        input {
            background-color: $black;
            color: $white;
        }
    }
}